<section>
    <img
        src="/Avaar.webp"
        alt="Profile picture"
        width="350px"
        height="350px"
     />
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img {
        border-radius: 100%;
        max-width: 250px;
        
        width: 100%;
        height: auto;
        max-height: unset;
        
    }
</style>