<section id="about">
    <div class="about__container">
        <div class="profile">
            <span>
                <img src="/Avaar.webp" alt="Profile picture" />
            </span>
        </div>
        <div class="content">
            <p>
                Mi nombre es Anderson Espinoza. <strong>Desarrollador web</strong>. Con experiencia desarollando <strong>paginas web informativas, landing pages, Woocomerce  y plataformas e-learning</strong> . 
            </p>
            <p>
                A lo largo de mi trayectoria, he trabajado en diversos proyectos personales y para terceros, lo que me ha permitido fortalecer mis conocimientos y adquirir nuevas habilidades en el desarrollo web.

            </p>        
            <p>
                PHP, HTML, CSS, JavaScript, Jquery
                Typescript, Tailwind,NestJs,
                MySql, Bootstrap, Wordprees y más.
            </p>
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    .about__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        background-repeat: no-repeat;
        background-size: 100%;
        backdrop-filter: blur(210px);
        border-radius: 25px;
        padding: 2rem;
    }


    .profile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        & img {
            max-width: 200px;
            max-height: 200px;
            padding: 0.1rem;
            border: solid 2px #493f3f;
            border-radius: 25px;
            border-radius: 25px;
        }
    }
    .content {
        display: flex;
        flex-direction: column;

        & p {
            margin: 20px;
            margin-top: 0;
            max-width: 500px;
            line-height: 1.5;
            text-wrap: pretty;
        }
    }
    
    @media(width < 800px) {
        #about {
            margin-bottom: 0;
            margin-top: 120px;
        }
        .about__container {
            flex-direction: column;
            align-items: center;
            padding: 1rem;
        }
        img {
            max-width: 150px !important;
            max-height: 150px !important;
        }
    }

</style>